/* Button styling */
input[type="submit"],
button {
    font-weight: 700;
    border-radius: 0;
    border: 2px solid black;
    transition: 0.3s;
}
input[type="submit"]:hover,
button:hover {
    background-color: var(--main-bg-color);
    border-color: white;
    color: var(--main-text-color);
}
/* Colors */
body {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
/* Link styling */
a:link,
a:visited {
    color: var(--secondary-text-color);
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
