/* Borders */
.kontakt,
.info {
    margin: 2em 0;
    padding: 0 2em 2em 2em;
}
.kontakt,
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info .sadrzaj {
    width: 100%;
}
img {
    width: 100%;
}
input[type="text"],
input[type="email"],
textarea {
    width: 50%;
}
@media screen and (max-width: 1000px) {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    /* Borders */
    .kontakt,
    .info {
        margin: 1em 0;
        padding: 0 1em 1em 1em;
    }
}
