/* Colors */
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 4px solid var(--secondary-bg-color);
}
/* Link styling */
a:link,
a:visited {
    color: var(--main-text-color);
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
body {
    overflow: hidden;
}
img {
    width: 2em;
}
.prvi-red,
.drugi-red {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
}
.prvi-red div,
.drugi-red div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5em;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 0.5em;
}
object .hamburger-menu {
    display: none;
}
.pretraga form ul li:first-of-type {
    padding-right: 0.25em;
}
.pretraga form ul li:last-of-type {
    padding-left: 0.25em;
}
@media screen and (max-width: 1000px) {
    object .email-i-telefon {
        display: none;
    }
    object .drustvene-mreze {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    input[type="search"] {
        width: 8.6em;
    }
    object .logo {
        display: none;
    }
    object .hamburger-menu {
        display: flex;
    }
    .drugi-red {
        justify-content: flex-end;
    }
    object .mapa-weba {
        display: none;
    }
}
