.dobrodosli {
    height: 50vh;
    background-image: url(../images/Placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.proizvodi,
.kategorije,
.blog,
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proizvodi .galerija,
.kategorije .galerija {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.proizvodi .galerija iframe,
.kategorije .galerija iframe {
    width: 25%;
    flex: 0 0 auto;
}
.newsletter .newsletter-body {
    width: 100%;
    padding: 1em;
}
@media screen and (max-width: 1000px) {
    .proizvodi .galerija iframe,
    .kategorije .galerija iframe {
        width: 50%;
        flex: 0 0 auto;
    }
}
@media screen and (max-width: 500px) {
    .proizvodi .galerija iframe,
    .kategorije .galerija iframe {
        width: 100%;
        flex: 0 0 auto;
    }
    .proizvodi .galerija iframe:last-of-type,
    .kategorije .galerija iframe:last-of-type {
        display: none;
    }
}
