/* Input field styling */
input, input[type="checkbox"] {
    accent-color: var(--main-bg-color);
    outline: none;
    border-radius: 0;
    border: 2px solid black;
    transition: 0.3s;
}
input:focus {
    outline: none;
    border-radius: 0;
    border: 2px solid var(--main-bg-color);
}
/* Button styling */
input[type="submit"] {
    font-weight: 700;
    border-radius: 0;
    border: 2px solid black;
    transition: 0.3s;
}
input[type="submit"]:hover {
    background-color: var(--main-bg-color);
    border-color: white;
    color: var(--main-text-color);
}
/* Borders */
.dobrodosli,
.proizvodi,
.kategorije,
.blog,
.newsletter {
    margin: 2em 0;
    padding: 0 2em 2em 2em;
}
.dobrodosli {
    height: 50vh;
    background-image: url(../images/Placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.proizvodi,
.kategorije,
.blog,
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proizvodi .galerija,
.kategorije .galerija {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
.proizvodi .galerija iframe,
.kategorije .galerija iframe {
    width: calc(25% - 0.75em); /* 3 x 1em gaps / 4 elements = 0.75em */
    flex: 0 0 auto;
}
.newsletter .newsletter-body {
    width: 100%;
    padding: 1em;
}
form input[type="email"] {
    width: 33%;
}
@media screen and (max-width: 1000px) {
    .proizvodi .galerija iframe,
    .kategorije .galerija iframe {
        width: calc(50% - 0.5em); /* 1 x 1em gap / 2 elements = 0.5em */
        flex: 0 0 auto;
    }
    form input[type="email"] {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    /* Borders */
    .dobrodosli,
    .proizvodi,
    .kategorije,
    .blog,
    .newsletter {
        margin: 1em 0;
        padding: 0 1em 1em 1em;
    }
    .proizvodi .galerija iframe,
    .kategorije .galerija iframe {
        width: 100%;
        flex: 0 0 auto;
    }
    .proizvodi .galerija iframe:last-of-type,
    .kategorije .galerija iframe:last-of-type {
        display: none;
    }
    form input[type="email"] {
        width: 100%;
    }
}
