/* Button styling */
button {
    font-weight: 700;
    border-radius: 0;
    border: 2px solid black;
    transition: 0.3s;
}
button:hover {
    background-color: var(--main-bg-color);
    border-color: white;
    color: var(--main-text-color);
}
/* Borders */
.proizvod,
.recenzije {
    margin: 2em 0;
    padding: 0 2em 2em 2em;
}
.proizvod {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proizvod .sadrzaj {
    display: flex;
    flex-direction: row;
}
.slika {
    padding-bottom: 0.5em;
}
.slika img {
    width: 100%;
}
.galerija {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.galerija img {
    width: 100%;
}
.proizvod .opis,
.cijena-i-kupnja {
    padding: 1em;
}
.recenzije img {
    width: 1em;
}
.recenzije {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recenzije .sadrzaj {
    display: flex;
    flex-direction: row;
}
.recenzije .sadrzaj .lijevo {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1em;
}
.recenzije .sadrzaj .desno {
    padding: 1em;
    width: 70%;
}
@media screen and (max-width: 500px) {
    /* Borders */
    .proizvod,
    .recenzije {
        margin: 1em 0;
        padding: 0 1em 1em 1em;
    }
    .proizvod .sadrzaj,
    .recenzije .sadrzaj {
        flex-direction: column;
    }
    .recenzije .sadrzaj .lijevo,
    .recenzije .sadrzaj .desno {
        width: 100%;
    }
}
