/* Privremeni borderi */
body,
section,
article,
div,
aside,
form {
    border: 1px solid black;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    position: sticky;
    top: 0;
}
.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
}
