/* Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Roboto:wght@400;700&display=swap");
/* CSS Variables */
:root {
    --main-font: "Nunito", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --main-text-color: #ffffff;
    --secondary-text-color: #3c3c3c;
    --main-bg-color: #007270;
    --secondary-bg-color: #ffd700;
}
/* Fonts */
body,
input,
button,
textarea {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1em;
}
h1,
h2,
h3,
h4 {
    font-family: var(--secondary-font);
    font-weight: 700;
}
/* Temp borders */
/*
body,
section,
article,
div,
aside,
form {
    border: 1px solid black;
}
*/
/* Card styles (excluding iframe Cards) */
.main-card {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border: 4px solid var(--secondary-bg-color);
}
.main-card a:link,
.main-card a:visited {
    color: var(--main-text-color);
    text-decoration: underline;
}
.main-card a:hover {
    text-decoration: underline;
}
.secondary-card {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
}
/* Ostalo */
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 4px solid var(--secondary-bg-color);
}
footer {
    border-bottom: 4px solid var(--secondary-bg-color);
}
aside iframe,
.iframe {
    position: sticky;
    top: calc(100px);
    border-bottom: 4px solid var(--secondary-bg-color);
}
.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
    display: block;
}
