<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Aside Blog</title>
        <script src="../js/javascript.js"></script>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/asideBlog.css">
    </head>
    <body>
        <object data="" type="">
            <section class="kartice">
                <iframe
                    src="blogCard.html"
                    width="100%"
                    class="auto-height-iframe"
                ></iframe>
                <iframe
                    src="blogCard.html"
                    width="100%"
                    class="auto-height-iframe"
                ></iframe>
            </section>
        </object>
    </body>
</html>
