<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Aside Products</title>
        <style>
            form,
            div {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <object data="" type="">
            <form action="">
                <div class="list checkbox">
                    <h3>Kategorija</h3>
                    <input type="checkbox" name="kategorija" id="" /><label
                        for="kategorija"
                        >Psi</label
                    >
                    <br />
                    <input type="checkbox" name="kategorija" id="" /><label
                        for="kategorija"
                        >Macke</label
                    >
                    <br />
                    <input type="checkbox" name="kategorija" id="" /><label
                        for="kategorija"
                        >Ribice</label
                    >
                </div>
                <div class="list radio">
                    <h3>Cijena</h3>
                    <input type="radio" name="cijena" /><label for="cijena"
                        >Do 10 €</label
                    >
                    <br />
                    <input type="radio" name="cijena" /><label for="cijena"
                        >11 € do 20 €</label
                    >
                    <br />
                    <input type="radio" name="cijena" /><label for="cijena"
                        >21 € do 30 €</label
                    >
                    <br />
                    <input type="radio" name="cijena" /><label for="cijena"
                        >Preko 30 €</label
                    >
                </div>
                <input type="submit" value="Primijeni" />
            </form>
        </object>
    </body>
</html>
