<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog Card</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Card-styles.css">
        <link rel="stylesheet" href="../css/blogCard.css">
    </head>
    <body>
        <object data="" type="">
            <article class="kartica-bloga">
                <h3>Naslov blog posta</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Ratione ab libero quaerat voluptates hic, ipsum deserunt
                    facilis delectus qui quasi soluta, necessitatibus tempora
                    magni quos doloribus enim suscipit! Voluptate, odio?
                </p>
                <a href="../blog-detail.html"><button>Vise</button></a>
            </article>
        </object>
    </body>
</html>
