<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog Card 2</title>
        <style>
            article,
            div {
                border: 1px solid black;
            }
            img {
                width: 200px;
            }
        </style>
    </head>
    <body>
        <object data="" type="">
            <article class="kartica-bloga">
                <div class="lijevo">
                    <h3>Naslov blog posta</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Ratione ab libero quaerat voluptates hic, ipsum
                        deserunt facilis delectus qui quasi soluta,
                        necessitatibus tempora magni quos doloribus enim
                        suscipit! Voluptate, odio?
                    </p>
                    <a href="../blog-detail.html" target="_parent"><button>Vise</button></a>
                </div>
                <div class="desno">
                    <img src="../images/Placeholder.png" alt="blog-post" />
                </div>
            </article>
        </object>
    </body>
</html>
