<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer</title>
        <style>
            div {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <object data="" type="">
            <div class="mapa-weba">
                <ul>
                    <li><a href="../index.html" target="_parent">Pocetna</a></li>
                    <li><a href="../productCategories.html" target="_parent">Kategorije</a></li>
                    <li><a href="../about.html" target="_parent">O nama</a></li>
                    <li><a href="../blog.html" target="_parent">Blog</a></li>
                    <li><a href="../contact.html" target="_parent">Kontakt</a></li>
                </ul>
            </div>
            <div class="kontakt-info">
                <ul>
                    <li>Pet Shop d.o.o.</li>
                    <li>OIB: 469874500</li>
                    <li>
                        <a href="mailto:info@petshop.hr">info@petshop.hr</a>
                    </li>
                    <li><a href="tel:+38518889966">+38518889966</a></li>
                    <li>Ulica ljubimaca 34</li>
                </ul>
            </div>
            <div class="google-mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.7228439803453!2d15.905297277250678!3d43.716308548345005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352596fefd40c5%3A0xdf9d5af364c27a35!2sInkubator%20za%20nove%20tehnologije%20i%20poduzetni%C5%A1tvo%20Trokut%20%C5%A0ibenik!5e0!3m2!1sen!2shr!4v1703946290687!5m2!1sen!2shr"
                    width="200"
                    height="200"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>
            <div class="uvjeti-i-pravila">
                <ul>
                    <li><a href="../conditions.html" target="_parent">Uvjeti poslovanja</a></li>
                    <li><a href="../terms.html" target="_parent">Uvjeti koristenja</a></li>
                    <li><a href="../privacy.html" target="_parent">Pravila o privatnosti</a></li>
                    <li><a href="../cookies.html" target="_parent">Pravila o kolacicima</a></li>
                </ul>
            </div>
            <div class="potpis">&copy;Ante Susic</div>
        </object>
    </body>
</html>
