<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <style>
            div {
                border: 1px solid black;
            }
            img {
                width: 2em;
            }
        </style>
    </head>
    <body>
        <object data="" type="">
            <div class="prvi-red">
                <div class="email">
                    <a href="mailto:info@petshop.hr">info@petshop.hr</a>
                </div>
                <div class="telefon">
                    <a href="tel:+38518889966">+38518889966</a>
                </div>
                <div class="drustvene-mreze">
                    <ul>
                        <li><a href="http://www.facebook.com">Facebook</a></li>
                        <li>
                            <a href="http://www.instagram.com">Instagran</a>
                        </li>
                        <li><a href="http://www.youtube.com">YouTube</a></li>
                        <li><a href="http://www.tiktok.com">TikTok</a></li>
                    </ul>
                </div>
                <div class="pretraga">
                    <input type="search" placeholder="Upisite proizvod" />
                    <input type="button" value="Trazi" />
                </div>
                <div class="kosarica">
                    <a href="/cart.html">Kosarica</a>
                </div>
            </div>
            <div class="drugi-red">
                <div class="logo">
                    <a href="/index.html"
                        ><img src="/images/noun-photo-4619810.svg" alt="logo"
                    /></a>
                </div>
                <div class="mapa-weba">
                    <ul>
                        <li><a href="/index.html">Pocetna</a></li>
                        <li>
                            <a href="/productCategories.html">Kategorije</a>
                        </li>
                        <li><a href="/about.html">O nama</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                        <li><a href="/contact.html">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </object>
    </body>
</html>
