<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Header</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css" />
    </head>
    <body>
        <object data="" type="">
            <div class="prvi-red">
                <div class="email-i-telefon">
                    <ul>
                        <li>
                            <a href="mailto:info@petshop.hr">info@petshop.hr</a>
                        </li>
                        <li>
                            <a href="tel:+38518889966">+38518889966</a>
                        </li>
                    </ul>
                </div>
                <div class="drustvene-mreze">
                    <ul>
                        <li>
                            <a href="http://www.facebook.com" target="_parent"
                                >Facebook</a
                            >
                        </li>
                        <li>
                            <a href="http://www.instagram.com" target="_parent"
                                >Instagram</a
                            >
                        </li>
                        <li>
                            <a href="http://www.youtube.com" target="_parent"
                                >YouTube</a
                            >
                        </li>
                        <li>
                            <a href="http://www.tiktok.com" target="_parent"
                                >TikTok</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="pretraga">
                    <form action="">
                        <ul>
                            <li>
                                <input
                                    type="search"
                                    name="search"
                                    placeholder="Upisite proizvod"
                                />
                            </li>
                            <li>
                                <input type="submit" value="Trazi" />
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="kosarica">
                    <ul>
                        <li>
                            <a href="../cart.html" target="_parent"
                                ><img
                                    src="/images/noun-photo-4619810.svg"
                                    alt="kosarica"
                            /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="drugi-red">
                <div class="logo">
                    <ul>
                        <li>
                            <a href="../pocetna.html" target="_parent"
                                ><img
                                    src="/images/noun-photo-4619810.svg"
                                    alt="logo"
                            /></a>
                        </li>
                    </ul>
                </div>
                <div class="mapa-weba">
                    <ul>
                        <li>
                            <a href="../pocetna.html" target="_parent">Pocetna</a>
                        </li>
                        <li>
                            <a href="../productCategories.html" target="_parent"
                                >Kategorije</a
                            >
                        </li>
                        <li>
                            <a href="../about.html" target="_parent">O nama</a>
                        </li>
                        <li>
                            <a href="../blog.html" target="_parent">Blog</a>
                        </li>
                        <li>
                            <a href="../contact.html" target="_parent"
                                >Kontakt</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="hamburger-menu">
                    <ul>
                        <li>
                            <a href="" target="_parent"
                                ><img
                                    src="/images/noun-photo-4619810.svg"
                                    alt="kosarica"
                            /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </object>
    </body>
</html>
