<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product Card 2</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/Card-styles.css">
        <link rel="stylesheet" href="../css/productCard2.css">
    </head>
    <body>
        <object data="" type="">
            <article class="kartica-proizvoda">
                <div class="lijevo">
                    <img src="../images/Placeholder.webp" alt="proizvod" />
                </div>
                <div class="desno">
                    <h2>Proizvod</h2>
                    <h3>00 €</h3>
                    <button>Ukloni</button>
                </div>
            </article>
        </object>
    </body>
</html>
