<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Product Card</title>
        <style>
            article {
                border: 1px solid black;
            }
            img {
                width: 200px;
            }
        </style>
    </head>
    <body>
        <object data="" type="">
            <article class="kartica-proizvoda">
                <img src="../images/Placeholder.png" alt="proizvod" />
                <h3>Proizvod</h3>
                <h4>00 €</h4>
                <p><a href="../product-detail.html" target="_parent">Detalji proizvoda...</a></p>
                <button>Dodaj u kosaricu</button>
            </article>
        </object>
    </body>
</html>
